<?xml version="1.0"?>

<web-app>
 <display-name>BeosBank Money Transfer WebApp-JAAS Demo</display-name>
 <distributable/>
 
 <welcome-file-list>
 <welcome-file>index.xhtml</welcome-file>
 </welcome-file-list>
 
 
 <security-constraint>
  <web-resource-collection>
    <web-resource-name>Secured resources</web-resource-name>
    <url-pattern>/faces/secured/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>Customer</role-name>
  </auth-constraint>
</security-constraint>
 
<security-role>
  <role-name>Customer</role-name>
</security-role>
<security-role>
  <role-name>Guest</role-name>
</security-role>

<login-config>
        <auth-method>FORM</auth-method>
            <form-login-config>
                <form-login-page>/faces/login.xhtml</form-login-page>                    
                <form-error-page>/faces/error.xhtml</form-error-page>                   
            </form-login-config>
    </login-config>
    
 </web-app>